/* .slide-container {
    width: 20%;
    overflow: hidden;
}

.each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px; 
    position: relative;
}

.each-slide span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 20px;
    left: 20px;
} */
  
.four-slider-container {
    position: relative;
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-wrapper {
    position: relative;
    background-color: rgb(137, 206, 255);
    /* border: 1px solid red; */
    margin: .5rem;
    /* height: 100%; */
  }

 .slide1{
    width: 35%;
 }
 .slide2{
    width: 15%;
 }
 .slide3{
    width: 20%;
 }
 .slide4{
    width: 10%;
 }
 .slide5{
    width: 40%;
 }
 .slide6{
    width: 25%;
 }
  
  .each-slide {
    height: 270px;
    background-color: rgb(255, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
  
  .arrow-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 5%;
  }
  
  .right-arrow {
    right: 5%;
  }
  