* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .navv {
    width: 100%;
    height: 4rem;
    -webkit-backdrop-filter: blur(8px);  
    backdrop-filter: blur(8px); 
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
    /* background-color: rgb(230, 244, 255); */
    display: grid;
    grid-template-columns: 5rem 1fr 3fr 1fr 5rem;
  }

  .logo {
    grid-column: 2/3;
    display: flex;
    align-items: center;
  }

  .menu_link {
    grid-column: 3/4;
  }

  .main_link_ul {
    height: 4rem;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main_link ul li a {
    color: black;
    font-size: large;
    text-decoration: none;
  }

  .login_btn {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .login_btn:hover .nav_submenu{
    display: flex;
    flex-direction: column;
  }

  .login_btn button {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: default;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 0em;
    font: 400 16px system-ui;
    padding: 10px 30px;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(151, 151, 255);
  }

  .nav_menu-item {
    position: relative;
    /* background-color: aqua; */
    padding: 19px;
  }

  .nav_submenu {
    display: none;
    position: absolute;
    top: 63px;
    padding-left: 0px;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: white;
    /* -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08); */
  }

  .nav_submenu-item {
    padding: 10px 50px;
  }
  .nav_submenu-item a{
    text-decoration: none;
  }

  .nav_menu-item:hover .nav_submenu{
      display: flex;
      flex-direction: column;
  }

  .nav_submenu-item:hover {
    background: rgba(0, 0, 0, 0.095);
  }


  